html {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
}

/* Setting the maximum width of the container to 1200px, the background color, the padding, and the margin*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1em 2em;
}

#sitetitle {
    margin-right: auto;
  }
  
header li {
    list-style: none;
    display: inline-block;
    padding: 1em;
    font-size: 1.25rem;
  }
  
header a {
    text-decoration: none;
    color: black;
  }

header a:hover {
    color:black;
    text-decoration-color: white;
}