/**************************GLOBAL STYLES*********************************/

/****************INDEX/HOME PAGE********************/
html {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-size: 16px;
}

/* CONTAINER */
.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

/* SKIP LINKS */
/* Fixes list style of skip links */
.skip-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  /* Styles skip links */
  .skip-links a {
    position: absolute;
    top: -3em;
    background-color: white;
    color:black;
    padding: .5em 1em;
  }
  
  /* Makes link visible once hovered on */
  .skip-links a:focus{
    top:0;
  }

/* HEADER */
header {
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header h1 {
    font-weight: bolder;
    padding-left: 0.25em;
}

#sitetitle {
    margin-right: auto;
}
 
/* NAVIGATION */

/* LoVe HAte
    a:link
    a:visited
    a:hover
    a:active */

header li {
    list-style: none;
    display: inline-block;
    padding: 0.5em;
    font-size: 1.25rem;
    font-weight: semi-bold;
    padding: 1rem;
}

header a {
    text-decoration: none;
    color: black;
    background-color: none;
    font-weight: semi-bold;
    padding: 1rem;
}

header a:visited {
    text-decoration: inherit;
    color: inherit;
    background-color: inherit;
    font-weight: semi-bold;
    padding: 1rem;
}

header a:hover {
    text-decoration: inherit;
    color: white;
    background-color: black;
    font-weight: semi-bold;
    padding: 1rem;
}

header a:active {
    text-decoration: inherit;
    color: white;
    background-color: black;
    font-weight: semi-bold;
    padding: 1rem;

}

/************* HOME PAGE **************/

/* HOME BANNER */
/* Background solid rectangle */
.homebanner {
    border-radius: 15px;
    background: #eceded;
    padding: 20px;
    width: 100%;
    height: 500px;
}
/* Adding my first noticeable animation (this one is without the animation tag) */
.unique:hover {
    background-color: #E6C744;
    padding: inherit;
    transform: scale(1.25);
    transition: transform 1.5s;
}

/* yellow = #E6C744  grey = #C2C8DA */

/************* SHOP PAGE **************/
/* SHOP BANNER */
/* Background solid rectangle */
.shopbanner {
    border-radius: 15px;
    background: #eceded;
    padding: 20px;
    width: 100%;
    height: 500px;
}

.hoodiesandsweaters{
    display: flex;
    justify-content: space-around;
}

/************* CONTACT PAGE **************/
.contactus{
    background-color: #E6C744;
    padding: 4em;
}

.contactus h1{
    font-size: 2em;
}

input[type=text], select, textarea{
    width: 100%;
    padding: 1em;
    border: 4px solid #eceded;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    font-family: 'Poppins', sans-serif;
    font-weight: semi-bold;
    font-size: 16px;
}

.contactform label{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.sendbtn {
    background-color: white;
    color: black;
    padding: 1em 2em;
    border: none;
    border-radius: 4px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    animation: wiggle 2s linear infinite;
  }
/* Second animation, using animation tag */
  @keyframes wiggle {
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-10deg);
    }
    20% {
      transform: rotateZ(10deg);
    }
    25% {
      transform: rotateZ(-10deg);
    }
    30% {
      transform: rotateZ(5deg);
    }
    35% {
      transform: rotateZ(-5deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }


/* FOOTER */
footer{
    background-color: black;
    padding: 3em;
}

footer {
    color: white;
}

footer a {
    color: black;
}

footer ul {
    list-style: none;
}

/* Back to Top Button */
/* LoVe HAte 
Link 
Visited
Hover 
Active */
.backtop {
    font-weight: bold;
    background-color: #E6C744;
    padding: 1em;
    text-decoration: none;
}

  


