html{
    font-family: poppins;
    font-size: 16px;
}

/* Setting the maximum width of the container to 1200px, the background color, the padding, and the margin*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 1em;
    background-color: white;
}

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 50px;
}

#sitetitle{
    margin-right: auto;
  }
  
header ul {
      list-style: none;
      display: inline-block;
      padding: 0 20px;
  }
  
header a {
      text-decoration: none;
      color: black;
  }
  